:css
  .tabs-left h1 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .tabs-left ul {
    padding: 0;
    margin: 0;
  }

  .tabs-left > .nav-tabs {
    float: none;
    min-height: 400px;
    margin-right: 0;
  }

  .tabs-left a {
    color: #999999;
    font-weight: bold;
  }

  .tab-left a:hover {
    background-color: none; 
  }

  .tabs-left a.form_error {
    color: #B94A48;
    font-weight: bold;
  }

  .tabs-left > .nav-tabs > li > a:hover {
    border-top: 1px solid transparent; 
    border-left: 1px solid transparent; 
    border-bottom: 1px solid transparent;
    background-color: #FFFFFF;
  }

.tabbable.tabs-left
  %ul.nav.nav-tabs
    %h1= @offer.name

    - @tabs.steps.each do |tab|
      %li{:class => tab.active ? "active" : ""}
        %a{:class => tab.form_error ? "form_error" : ""} 
          %span.label{:class => tab.label || ""}
            %i{:class => tab.icon}
          &nbsp;
          \ Step #{tab.step}: #{tab.name}
