.form-inputs
  %fieldset
    %legend Getting Started
    %br
    .padding{:style => "font-size: 16px; max-width: 500px; line-height: 32px;"}

      -# %p Welcome to touchCMA 
      %p Welcome to \#{@offer.price_plan.price_plan_items.first.product_name}
      %br
    
      %p Getting started is easy. All you need is your MLS ID and a credit card to activate your account and free 14-day trial. We won’t charge your credit card until the trial period is over. Enjoy! 
      %br

      %p Click "Next" to continue. 
